<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <nav>
      <ul>
        <%= nav_item name: :books do %>
          <%= link_to 'Books', :books %>
        <% end %>
        <%= nav_item name: :authors do %>
          <%= link_to 'Authors', :authors %>
        <% end %>
        <%= nav_item do %>
          <%= link_to 'Home', :home %>
        <% end %>
    <%= yield %>
  </body>
</html>
